body {
    background-color: rgb(250,250,250);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image {
    width: 50px;
    margin-top: 0px;
    border-radius: 100%;
}

.imgContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-right: 95%;
}

.head {
    font-size: 250%;
    margin: 0;
}

@media (max-width: 770px) {
    .container {
        margin: 0 10%;
    }
}